.products-section{
  width: 100%;
}

.products-section .products-container .main-title{
  font-family: "TT Norms";
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.products-section .products-container .products-main-frame{
  display: flex;
  flex-direction: column;
}

.products-section .products-container .products-main-frame .search-frame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 51px;
  margin-bottom: 30px;
}

.products-section .products-container .products-main-frame .search-frame .brands-frame{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  height: 100%;
}
.products-section .products-container .products-main-frame .search-frame .brands-frame .brand-btn {
  width: 76px;
  height: 40px;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border: none;
  text-decoration: none;
  color: black;
  box-shadow: rgba(111, 111, 112, 0.4) 0px 7px 29px 0px;
  cursor: pointer;
}

.products-section .products-container .products-main-frame .search-frame .search-order{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.products-section .products-container .products-main-frame .search-frame .search-order .search-input {
  width: 360px;
  height: 28px !important;
  border-radius: 19px;
  outline: none;
  border: none;
}

.products-section .products-container .products-main-frame .search-frame .search-order .search-input input:focus{
  outline: 0px;
  border: none;
}

.products-section .products-container .products-main-frame .search-frame .search-order .search-input .search-btn{
  width: 108px;
  height: 38px;
  border-radius: 19px;
  background: #f44336;
  color: white;
  
  /* float:right; */
}

.products-section .products-container .products-main-frame .search-frame .search-order 
.dropdown-box{
  display: flex;
  align-items: center;
  height: 100%;
}

.products-section .products-container .products-main-frame .search-frame .search-order 
.dropdown-box .order-select{
  width: 150px;
}


.products-section .products-container .products-main-frame .category-products-frame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.products-section .products-container .products-main-frame .category-products-frame .category-frame{
  display: flex;
  flex-direction: column;
  width: 170px;
  gap: 20px;
}

.products-section .products-container .products-main-frame .category-products-frame .category-frame .category-btn{
  width: 160px;
  height: 40px;
  background-color: #e1e1e1;
  font-size: 14px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.products-section .products-container .products-main-frame .category-products-frame 
.products-frame{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
}

/* CARD */
.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card{
  border: none;
  width: 230px;
}

.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .card-img-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
}

.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .card-content{
  margin-bottom: 0;
}

.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .card-content .product-category{
  color: #DADCDC;
  font-size: 12px;
  font-weight: 500;
}

.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .card-content a{
  margin-top: 8px;
  font-weight: 500;
  font-size: 16px;
}
.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .card-content .product-price{
  font-size: 18px;
  font-weight: 700;
  color: #00C65E;
  margin-top: 10px;
}
.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .card-content .product-left{
  color: #bdbdbd;
  margin-top: 3px;
}

.products-section .products-container .products-main-frame .category-products-frame 
.products-frame .card .shopping-btn{
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 20px;
  height: 30px;
  background-color: white;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  padding-top: 3px;
}

.products-section .products-container .products-main-frame .pagination-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}





/* CHOSEN PRODUCT */
.chosen-product-section{
  width: 100%;
}

.chosen-product-section .chosen-product-container .main-title{
  text-align: center;
  font-family: "TT Norms";
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame{
  width: 1170px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 50px 0 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.chosen-product-section .chosen-product-container .chosen-product-frame .title{
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 570px;
}

/* CHOSEN PRODUCT: LEFT IMAGES */
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .images{
  width: 370px;
  height: 100%;
  /* border: 1px solid gray; */
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .images .main-img-box {
  width: 370px;
  height: 460px;
  box-sizing: border-box;
  padding: 15px 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DADCDC;
  border-radius: 8px;
  margin-bottom: 20px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .images .main-img-box .main-img{
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  /* mix-blend-mode:darken;  yuqoridagiga o'xshash backgroundni remove qiladi*/ 
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .images .basic-images{
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 40px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .images .basic-images .basic-box{
  width: 100px;
  height: 90px;
  border: 1px solid #DADCDC;
  border-radius: 8px;
  mix-blend-mode: multiply;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .images .basic-images .basic-box .basic-img{
  max-width: 90%;
}


/* CHOSEN PRODUCT: CENTER DETAILS */
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details{
  width: 220px;
  height: 325px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .memory-box{
  margin-bottom: 30px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .memory-box .title{
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .memory-box .memory-buttons{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .memory-box .memory-buttons .memory-btn{
  border-radius: 10px;
  padding: 12px 16px;
  border: none;
  text-decoration: none;
  color: black;
  /* box-shadow: rgba(111, 111, 112, 0.4) 0px 7px 29px 0px; */ 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  opacity: 0.9;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .colors-box{
  margin-bottom: 30px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .colors-box .title {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .colors-box .colors{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .colors-box .colors .color{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .details-box{
  margin-bottom: 30px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .details-box .title{
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .details-box .details-stack .details-info{
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 500;
  color: black;
  margin-bottom: 15px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .details-box .details-stack .details-info .details-name{
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 500;
  color: gray;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .details .details-box .details-stack .all-info{
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 500;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

/* CHOSEN PRODUCT: RIGHT PRICES */
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices{
  width: 400px;
  height: 182px;
  /* border: 1px solid #DADCDC; */
  border-radius: 8px;
  box-sizing: border-box;
  padding: 25px 20px 30px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .price-box{
  font-family: "TT Norms";
  font-size: 16px;
  font-weight: 500;
  color: black;
  margin-bottom: 20px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .price-box .price{
  font-family: "TT Norms";
  font-size: 24px;
  font-weight: 700;
  color: black;
  vertical-align: middle;
  margin-left: 4px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .compare-box{
  font-family: "TT Norms";
  font-size: 14px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .compare-box .icon{
  vertical-align: middle;
  font-size: 18px;
  color: #00C65E;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .purchase-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .purchase-box .buy-btn {
  width: 240px;
  height: 40px;
  background-color: #00C65E;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .details-frame .prices .purchase-box .delivery-btn{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: black;
  margin-right: 10px;
  cursor: auto;
}

/* ALL-INFO */
.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame{
  margin-top: 30px;
  width: 100%;
  padding: 40px 30px 40px 50px;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 30px;
  display: none;
  transition: ease-in-out;
  transition-duration: 2000s;
  transition-delay: 2000s;
}

.show-all-info-frame{
  display: block;
  transition: ease-in-out;
  transition-duration: 2000s;
  transition-delay: 2000s;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame 
.info-box .info-title{
  font-family: "TT Norms";
  font-size: 18px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame 
.info-box{
  margin-bottom: 40px;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame 
.info-box .infos{
  border-top: 1px solid #DADCDC;
  height: 43px;
  width: 70%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame 
.info-box .infos:last-child{
  border-bottom: 1px solid #DADCDC;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame 
.info-box .infos .info-name{
  width: 220px;
  font-size: 14px;
}

.chosen-product-section .chosen-product-container .chosen-product-frame .all-info-frame 
.info-box .infos .pro-info{
  font-size: 14px;
}